# Dart / Flutter
.dart_tool/
.packages
build/
pubspec.lock
doc/api/

# Environment variables
.env*

# Generated JS files
*.dart.js
*.info.json
*.js
*.js_
*.js.deps
*.js.map

# Flutter plugin files
.flutter-plugins
.flutter-plugins-dependencies

# Firebase generated config
firebase_options.dart
firebase.json
.google-services.json
/ios/Runner/GoogleService-Info.plist
/android/app/google-services.json

